/convolutional_neural_networks/convolutional_neural_networks/data/
/convolutional_neural_networks/transfer_learning/flowers/
/neural_networks/deep_learning_with_pytorch/F_MNIST_data/
/neural_networks/deep_learning_with_pytorch/MNIST_data/
/convolutional_neural_networks/dog_breed_classifier/data/
